<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="django form with utf-8">
    <meta name="author" content="">
    <title>Linux Services</title>

    {% load static %}
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <style>
      .filled {
        width: 80%;
        padding: 5px;
      }
      .spacing {
        padding: 1em;
      }
    </style>
  </head>
  <body>
  <li class="nav-item">
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="home">home</a>
          </li>
    <nav> <h1><center>ข่าวหนัง</h1></center> </nav>
    <tr>
          <td width:100%><img src='https://cdn.majorcineplex.com/uploads/content/17009/cover_17009.jpg?d261020191043'></td>
          <td><center><font size=20>เบื้องหลังพากย์ไทย Disney's Maleficent: Mistress Of Evil หญิง รฐา ปล่อยพลังอีกครั้ง</font></td><br>
          <td>หญิง รฐา กลับมาให้เสียงพากย์มาเลฟิเซนต์อีกครั้ง โดยครั้งนี้เธอได้ทำการบ้านและให้ความสำคัญกับทุกคอมเมนท์ของแฟนๆ
พร้อมพากย์เป็น #ขุ่นแม่มาลี แบบปังกว่าเก่าแน่นอน
ไปพิสูจน์คุณภาพของเธอกันได้ใน Disney's Maleficent: Mistress Of Evil มาเลฟิเซนต์ นางพญาปีศาจ พุธที่ 16 ตุลาคมนี้
เรื่องราวสานต่อจากภาคแรก เมื่อเจ้าหญิงออโรร่าต้องการแต่งงานกับเจ้าชายแต่ มาเลฟิเซนต์ไม่เห็นด้วย ก่อให้เกิดชนวนศึกครั้งใหม่ เมื่อราชินีอิงกริต (รับบทโดยมิเชล ไฟเฟอร์) ตั้งกองกำลังทหารเพื่อสู้กับมาเลฟิเซนต์ และ เผ่าพันธุ์สัตว์วิเศษ เรื่องราวก้าวข้ามเทพนิยายสู่แอคชั่นแฟนตาซีฟอร์มยักษ์ และการกลับมาอีกครั้งของ แองเจลิน่า โจลี่ สยายปีกนางฟ้าปีศาจในบทของมาเลฟิเซนต์
</td>
        </tr>
    <li class="nav-item"><a class="btn btn-primary btn-xl js-scroll-trigger" href="http://www.majorcineplex.com/news/Maleficent-thai-voice">ที่มา</a></li>
  </body>
 
</html>
