<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="django form with utf-8">
    <meta name="author" content="">
    <title>Movies Review</title>

    {% load static %}
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <style>
      .filled {
        width: 80%;
        padding: 5px;
      }
      .spacing {
        padding: 1em;
      }
    </style>
  </head>
  <body background='https://img5.androidappsapk.co/poster/b/7/f/com.sp.joker_wallpaper_pro_1.png'>
  <li class="nav-item"><a class="btn btn-primary btn-xl js-scroll-trigger" href="home">home</a></li>
    <nav> <h1 style="background-color:white;"><center>ประวัติผู้ทำ</center></h1> </nav>
    <a><center><img src='https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/67489753_2325853877490818_1065337157117280256_n.jpg?_nc_cat=107&_nc_oc=AQl6V_T2rpG1kxSci1DRXNSCOmNJmMmGpAyUUX4hXq75iyVsQST8dxjgoQQ9CvvaLyQ&_nc_ht=scontent.fbkk10-1.fna&oh=725e7225b13690511d00777208f0d556&oe=5E20EFFA' width = "144" height = "144"></center></a>
    <b style="background-color:white;"><center>ชื่อ-นามสกุล: เกียรติชัย สุดอุ่น <br>
       กรุ๊ปเลือด: B<br>
       E-Mail: kiartichai.su.61@ubu.ac.th
    </center></b>
  </body>
 
</html>
